.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin-top: 3rem;
}

.google-icon {
    width: 17rem;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

input[type=search] {
    padding: .5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

input[type=search]::placeholder, 
input[type=search]::-webkit-progress-value { 
    color: rgb(218, 209, 209);
    font-size: 1rem;
}

.search-bar input, select, textarea{
    color: #e2e4e7;
}

input[type="search"]::-webkit-search-cancel-button { 
    display: none; 
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    background-color: transparent;
    border: 1px solid rgba(143, 142, 142, 0.438);
    border-radius: 30px;
    width: 35rem;
    padding: .6rem 1.2rem;
}

.search-btn {
    width: 1.1rem;
    filter: invert(78%) sepia(13%) saturate(164%) hue-rotate(169deg) brightness(79%) contrast(80%);
}

.google-btns {
    display: flex;
    column-gap: 1rem;
}

.voice {
    width: 1.5rem;
}

.tv {
    width: 1.5rem;
}

.entered-text {
    text-align: center;
    color: #ffff;
    font-size: 1rem;
    margin-top: .5rem;
}

.btns {
    display: flex;
    column-gap: 1rem;
    margin-top: .7rem;
}

.main-btn {
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffff;
    background-color: #303134;
    padding: .7rem .9rem;
    font-size: .9rem;
    border-radius: 5px;
}

.main-btn:hover {
    opacity: .9;
}

.languages {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-top: .9rem;
}

.languages p {
    font-size: .8rem;
    color: rgb(180, 175, 175);
}

.languages li a {
    color: #81a8e7;
    font-size: .8rem;
}